<% include ./header %>

<div class="form-wrapper">
  <div id="img"><img src="img/img1.jpg"></div>
  <form method="get" action="/api/translate" class="form">
    <div class="text-input-hint">Enter Source String</div>
    <input type="text" name="inputString" class="input-source">
    <div class="text-input-hint">Destination Language</div> 
    <select name="selectedLang" form="form" class="input-source">
        <%
          for (var i = 0; i < availableLangArray.length; i++)
          {
            %><option value="<%= availableLangArray[i].language %>"><%= availableLangArray[i].name %></option><%
          }
        %>
    </select><br>
    <button type="submit" class="btn-sub">Submit</button>
  </form>
</div>

<% if(translatedText != null) { %>
  Translated Text:<br>
  <%= translatedText %><br>
<% }; %>
 
<% if(result != null) { %>
  Parameters<br>
  <%= result %>
<% }; %>


