<% include ./header %>

<form method="get" action="/api/translate" id="form">
  Enter Source String <input type="text" name="inputString"><br>
  Destination Language 
  <select name="selectedLang" form="form">
      <%
        for (var i = 0; i < availableLangArray.length; i++)
        {
          %><option value="<%= availableLangArray[i].language %>"><%= availableLangArray[i].name %></option><%
        }
      %>
  </select><br>
  <button type="submit">Submit</button>
</form>

<% if(translatedText != null) { %>
  Translated Text:<br>
  <%= translatedText %><br>
<% }; %>
 
<% if(result != null) { %>
  Parameters<br>
  <%= result %>
<% }; %>


